<section id="poem">
  <header>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-text">
            <span class="skills">What happened here?</span>
            <hr class="star-light">
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>The year is 1775. Unrest has been growing in the colonies. The Boston Massacre that took place just five years earlier
          is fresh in the memories of many. The protests regarding taxation reached a new height in the form of the Boston
          Tea Party. Colonists are clamoring for the right to run their own affairs, some going as far as to call for independence
          from the mother country. The stage is set for an historic conflict.</p>

        <p>The Crown decides to put a stop to this. Early in the morning of April 19, 1775, a long column of Regulars starts
          its march to Concord. Their orders are to destroy muskets, powder, cannon, and other provisions being stockpiled
          by the rebels on Colonel James Barrett's farm.</p>

        <p>The column approaches Lexington as dawn rises to find the militia formed up on the town green. Their goal is not
          to engage the troops, but to show defiance to the Crown. The British officers are indignant at their risky move
          and order them to lay down their arms and disperse. Most men disperse. Some do not hear the order and stand fast.
          None lay down their arms. Suddenly a shot rings out, discipline breaks down, and more shots are fired. When the
          smoke clears, two militiamen are found shot dead, several more are wounded. The column marches on to Concord.</p>

        <p>A few hours later, the Regulars enter Concord. A detachment is sent to secure the North Bridge. The militia had already
          formed up on the far side of the Bridge, consisting of men not just from Concord, but many nearby towns who had
          come to defend their homes and lives. Smoke rises from the center of Concord. The militia believes the Regulars
          are out to burn down the town. The order comes to load their muskets. The men advance towards the Bridge in fine
          order to the astonishment of the Regulars. The rebels were advancing on the British army! Retreating off the Bridge,
          the Regulars form into firing positions. As in Lexington, a shot rings out. The Regulars fire. Militiamen fall
          but they continue their advance. Then the order is given to the militia: "Fire, fellow soldiers, for God's sake
          fire!". The American Revolution has begun.</p>

          <p><i>Source: <a href="http://www.battleroad.org/">http://www.battleroad.org/</a></i></p>
      </div>
    </div>
  </div>
</section>