<section id="poem">
    <header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <h1>Map</h1>
                    <hr class="star-light">
                </div>
            </div>
        </div>
    </div>
</header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p align="center"><img src="assets/img/lexington_map.jpg"/></p>
            </div>
        </div>
    </div>
</section>