<section id="admin">
  <header>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-text">
            <h1>Manage Beacons</h1>
            <hr class="star-light">
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-4 m-b-lg col-lg-offset-4">
          <div *ngIf="!connected" class="panel panel-default panel-profile m-b-0">
              <div class="panel-heading" [ngStyle]="{'background-image':'url(assets/img/beacon.jpg)'}"></div>
                            
                  <div class="panel-body text-center">
                      <button class="btn btn-lg" (click)="connect()" [disabled]="connecting"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>  Connect to ng-beacon</button>
                  </div>
          </div>
          

         
            <div *ngIf="connected" class="alert alert-success text-center">Connected!</div>
             
            <div *ngIf="connected" class="panel panel-default panel-profile m-b-0">    

            <div class="panel-body text-center">
              <div>
                <p>Device: {{deviceName}}</p>
                <p>Version: {{beaconVersion}}</p>
                <p>Battery: {{batteryVoltage|number:'1.2-2'}}V</p>
                <!--<p>Uptime: {{beaconUptime|amDuration:'seconds'}}</p>-->
              </div>
            <button class="btn btn-lg"  (click)="disconnect()">Disconnect</button>
            <hr/>
          <div>
            <p>Configure Beacon</p>
            <div>
              <div class="form-group">
                <label> Beacon Name: </label>
                  <input class="form-control" placeholder="Beacon name" [(ngModel)]="beaconName" maxlength="10" />
              </div>
              <div class="form-group">
                <label> Eddystone Url: </label> 
                  <input class="form-control" placeholder="Physical Web URL" [(ngModel)]="beaconUrl" maxlength="20" />
              </div>

              <button class="btn btn-lg" (click)="reset()">Reset</button>
              <button class="btn btn-lg" (click)="uploadEddystone()">Physical Web Beacon</button>
            </div>
          </div>
          <hr/>
          <div>
            <p>Debug Log</p>
            <div>
              <pre>{{debugLog}}</pre>
            </div>
            <div>
              <button class="btn btn-lg" (click)="clearLog()">Clear</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>