<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <h1>Check in to history!</h1>
                    <hr class="star-light">

                </div>
            </div>
        </div>
    </div>
</header>

<section id="portfolio">
    <div class="container">
        <div class="row">
            <div *ngFor="let item of items | async">
                    <div (click)="connect()" class="col-md-4 m-b-lg">
                        <div class="panel panel-default panel-profile m-b-0">
                            <div class="panel-heading" [ngStyle]="{ 'background-image': 'url(' + item.Image + ')'}"></div>
                            <div class="panel-body text-center">
                            <h3>{{item.Name}}</h3>
                            </div>
                        </div>    
                    </div> 
                </div>
        </div>
        
    </div>
</section>
<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About The Lexington Battle Road</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>The first skirmish of the American Revolution took place here at dawn on April 19, 1775. Captain Parker of the militia is immortalized 
                    in a statue on one end of the Green.</p>
            </div>
            <div class="col-lg-4">
                <p>Check into history by visiting each site along the trail and tapping the appropriate button to check in to your site.</p>
            </div>
        </div>
    </div>
</section>



<!-- Footer -->

<footer class="text-center">

    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>We're Local!</h3>
                    <p>
                        Built in Boston
                    </p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Find Us Online</h3>
                    <ul class="list-inline">

                        <li>
                            <a href="http://www.facebook.com/quicknoms" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="http://www.twitter.com/jenlooper" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="http://www.github.com/jlooper" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                        </li>

                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Built With Pride</h3>
                    <p>A Project by <a href="http://www.ladeezfirstmedia.com">LadeezFirstMedia</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; LadeezFirstMedia
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->

<div class="scroll-top page-scroll visible-xs visble-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>